/* ==================================
Universal and Page-Wide CSS
================================== */

body {
    background-image: url("../images/forest.jpg");
    background-size: cover;
    min-height:95vh;
}

/* ==================================
Header and Body CSS
================================== */

#wrapper {
    background-color: rgba(0,0,0,.75);
    min-height: 80vh;
    width:50vw;
    margin: auto;
    padding:2em;

    color: white;
    text-align: center;
}

/* ==================================
Choice Selection CSS
================================== */

/* ==================================
Feedback Section CSS
================================== */

/* ==================================
Footer CSS
================================== */

#footer {
    position:absolute;
    width:50vw;
    left:0;
    right:0;
    margin:auto;
    bottom:0;

    color:white;
    text-align: center;
}

#footer a {
    color:bisque;
}